graph {
    fill-color: #301c41; /* Color del fondo */
}

node {
    fill-color: #5c65c0; /* Color de los nodos */
    size: 40px;
}

edge {
    fill-color: #6f95ff; /* Color de las aristas */
    size: 6px;
    arrow-size: 35px, 25px;
}

node.selected {
    fill-color: #413b6b; /* Color del nodo seleccionado */

}

node.highlight
{
    fill-color: #cfab0b;
}

edge.highlight
{
    fill-color: #a5890c;
}

edge.invisible
{
    fill-color: #301c41;
    arrow-size: 0px, 0px;
}

edge.mstEdge
{
    arrow-size: 0px, 0px;
}