#panelPrincipal{
    -fx-background-color: #1B263B;
    -fx-border-color: #415A77;
    /*-fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;*/
}

#panelSuperior {
    -fx-background-color: #415A77;
    -fx-border-color: #415A77;
    /*-fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;*/
}

#panelEspaciado{
    -fx-background-color: #415A77;
    -fx-border-color: #415A77;
    /*-fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;*/
}

#panelEspaciado2{
    -fx-background-color: #415A77;
    -fx-border-color: #415A77;
    /*-fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;*/
}

#menuLateral {
    -fx-background-color: #415A77;
    -fx-border-color: #415A77;
    /*-fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;*/
}

#labelSuperior{
    -fx-text-fill: white;
    /*-fx-font-style: ;*/
}

.button{

}